Unable to add [ip.add.re.ss] as a domain

Says it is invalid, it is not.

![invalid-domain](https://f.cloud.github.com/assets/1316058/101007/3a8b8b50-6894-11e2-9bf5-84d99e78d348.png)

RFC822 6.3, RFC1123 5.2.7, and RFC2821 4.5.1 require all mailservers to accept mail to this kind of address.

I need postmaster@[ip.address] to work. Postfix by default accepts mail to its own IP address, however if behind NAT and have a local LAN address, it will not accept mail to its external address.

<sadface>

This already works just fine, that's probably the reason why @barryo closed this issue :wink:

![bildschirmfoto von 2016-04-02 17 07 47](https://cloud.githubusercontent.com/assets/920356/14227114/7ca8f938-f8f5-11e5-9bd0-1690387bad83.png)

I think the problem was solved by #164.